.cardAssenzaAssenze{
    background-color: rgba(255, 255,255, 0.25);
    border-radius: 25px;
    border: none;
    margin-left: 12%;
    margin-right: 12%;
    justify-content: center;
    width: 77%;
}
.titolo-avvisiavvisi{
    background-color: transparent;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    margin-left: 9%;
    margin-top: 10px;
}
.testo-avvisiavvisi{
    background-color: rgba(194, 105, 0, 1);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.giorno-avvisiavvisi{
    background: transparent;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    margin-left: 9%;
    margin-top: 20px;
}

.text-box-cardavvisiavvisi{
    background: transparent;
}