.cardAssenza{
    background-color: rgba(255, 255,255, 0.25);
    border-radius: 25px ;
    border: none;
    justify-content: center;
    position: absolute;
    padding: 2%;
    margin-left: 11%;
    width: 78%;
}

.text-box-Assenza{
    background: transparent;
    font-size: 22px;
    text-align: left;
    margin-left: 9%;
}

.tipo-Assenza-home{
    background: transparent;
    margin-top: 15px;
    font-weight: 400;
}

.bottone-giustificaAssenza-home{
    background-color: rgba(194, 105, 0, 1);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    font-weight: 800;
}

.giorno-Assenza-home{
    background: transparent;
    margin-top: 20px;
    font-size: 17px;
}