.cardAvviso{
    background-color: rgba(255, 0, 212, 0.2);
    border-radius: 25px;
    border: none;
    justify-content: center;
    position: absolute;
    padding: 2%;
    margin-left: 11%;
    width: 78%;
}
.titolo-avviso{
    background-color: transparent;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    margin-left: 9%;
    margin-top: 10px;
}
.testo-avviso{
    background-color: transparent;
    text-align: left;
    font-size: 19px;
    margin-top: 10px;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 20px;
}
.giorno-avviso{
    background: transparent;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    margin-left: 9%;
    margin-top: 20px;
}

.text-box-cardAvviso{
    background: transparent;
}